.App {
  text-align: center;
  margin-top: 30px;
}
.completed{
  text-decoration: line-through ;
  font-weight: 200;
  /* font-size: 20px; */
}
li{
  list-style: none;
}
input{
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  border-radius: 7px;
  padding: 10px;
  
}
.btn{
  padding: 10px;
  text-transform: capitalize;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
.main{
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
